html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Rubik-Regular', sans-serif;
    color: $bg;
}

.main  {
    flex-grow: 1;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-size: 36px;
    @extend %dmsans-700;
    color: $colorTitle;
    text-align: center;
    margin-bottom: 35px;
}

